<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails App | <%= yield(:title) %></title>
  </head>

    <h1>Sample App</h1>
    <p>
      This is the home page
      <a href="http://railstutorial.jp/">Ruby on Rails Tutorial</a>
      sample application.
    </p>

</html>